{% extends 'student/student_main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<main>
  
    <section class="recent">
        <div class="table-div">
            <div class="table-card">
                <h3 class="dash-title text-center mt-5">Change Password</h3>
                <div class="table-card" style="width:70%;margin-left:10%;">
                <form method="post">{% csrf_token %}
                    {{ form |crispy }}
                    <div class="row-4">
                        <button class="glow-on-hover" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
                {% if errorinchange %}
                    <script language="JavaScript">alert('Please Enter Valid Passwords :(')</script>
                {% endif %}
                <style>
                                            /* Style inputs, select elements and textareas */
                        input[type=text], select, textarea{
                        width: 95%;
                        padding: 15px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        resize: vertical;
                        }

                        /* Style the label to display next to the inputs */
                        label {
                        padding: 12px 12px 12px 12px;
                        display: inline-block;
                        }

                        /* Style the submit button */
                        input[type=submit] {
                        background-color: #d1cfc9;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size:30px;
                        }

                        /* Style the container */
                        .container-new-example{
                        border-radius: 5px;
                        background-color:white;
                        padding: 30px;
                        }

                        /* Floating column for labels: 25% width */
                        .col-25 {
                        float: left;
                        width: 15%;
                        margin-top: 10px;
                        }

                        /* Floating column for inputs: 75% width */
                        .col-75 {
                        float: left;
                        width: 45%;
                        margin-top: 10px;
                        }

                        /* Clear floats after the columns */
                        .row:after {
                        content: "";
                        display: table;
                        clear: both;
                        }

                        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                        @media screen and (max-width: 600px) {
                        .col-25, .col-75, input[type=submit] {
                        width: 100%;
                        margin-top: 0;
                        }
                        }
                        /*-------Button--Effects----*/

                        .glow-on-hover {
                            width: 180px;
                            height: 50px;
                            border: none;
                            outline: none;
                            color: #fff;
                            background: #111;
                            cursor: pointer;
                            position: relative;
                            z-index: 0;
                            border-radius: 10px;
                            margin-top:3%;
                            margin-left:34%;
                            margin-bottom:10%;
                            
                        }

                        .glow-on-hover:before {
                            content: '';
                            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                            position: absolute;
                            top: -2px;
                            left:-2px;
                            background-size: 400%;
                            z-index: -1;
                            filter: blur(5px);
                            width: calc(100% + 4px);
                            height: calc(100% + 4px);
                            animation: glowing 20s linear infinite;
                            opacity: 0;
                            transition: opacity .3s ease-in-out;
                            border-radius: 10px;
                        }

                        .glow-on-hover:active {
                            color: #000
                        }

                        .glow-on-hover:active:after {
                            background: transparent;
                        }

                        .glow-on-hover:hover:before {
                            opacity: 1;
                        }

                        .glow-on-hover:after {
                            z-index: -1;
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: #111;
                            left: 0;
                            top: 0;
                            border-radius: 10px;
                        }

                        @keyframes glowing {
                            0% { background-position: 0 0; }
                            50% { background-position: 400% 0; }
                            100% { background-position: 0 0; }
                        }

                        </style>

            </div>
        </div>
    </section>
</main>
{% endblock  %}