{% extends 'student/student_main.html' %}
{% load static %}

{% block content %}
<main>
    <h2 class="dash-title">Marks</h2>
    <section class="recent">
        <div class="table-div">
            <div class="table-card">
                ----------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>--------------<br>----<br>---- 
            </div>
        </div>
    </section>
</main>
{% endblock  %}